In [3]:
import pandas as pd
import os

In [9]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.
file_path = os.path.join('./', 'data', 'locations_data_frame.pkl')
df = pd.read_pickle(file_path)

In [11]:
# Display the DataFrame
df

,index,mindate,maxdate,name,datacoverage,id,source
0,0,1995-05-09,2023-11-30,"Holland Patent, NY 13354",1.00,ZIP:13354,output_12.json
1,1,1995-05-09,2023-11-30,"Hubbardsville, NY 13355",0.95,ZIP:13355,output_12.json
2,2,1953-07-01,2023-11-30,"Ilion, NY 13357",1.00,ZIP:13357,output_12.json
3,3,1964-07-01,2023-11-30,"Inlet, NY 13360",1.00,ZIP:13360,output_12.json
4,4,1995-05-09,2023-11-30,"Jordanville, NY 13361",0.95,ZIP:13361,output_12.json
...,...,...,...,...,...,...,...
38857,995,1995-05-09,2023-11-30,"Greig, NY 13345",0.95,ZIP:13345,output_11.json
38858,996,1894-07-01,2023-11-30,"Hamilton, NY 13346",1.00,ZIP:13346,output_11.json
38859,997,1995-05-09,2023-11-30,"Hartwick, NY 13348",1.00,ZIP:13348,output_11.json
38860,998,1995-05-09,2023-11-30,"Herkimer, NY 13350",1.00,ZIP:13350,output_11.json
38861,999,1908-01-01,2023-11-30,"Hoffmeister, NY 13353",1.00,ZIP:13353,output_11.json